x-service-resource: &service-resource
  limits:
    cpus: "1"
    memory: 512M
  reservations:
    cpus: "1"
    memory: 512M

x-load-resource: &load-resource
  limits:
    cpus: "2"
    memory: 2G
  reservations:
    cpus: "2"
    memory: 2G

x-logging-resource: &logging-resource
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "5"

services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    user: "0"  # to access docker.sock
    environment:
      - API_TOKEN=${OTEL_TOKEN}
      - OTEL_COLLECTOR=${OTEL_COLLECTOR}
    command: [ "--config=/etc/otel-collector-config.yml" ]
    ports:
      - "4317:4317"   # OTLP gRPC receiver
      - "4318:4318"   # OTLP HTTP receiver
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
      - /var/run/docker.sock:/var/run/docker.sock:ro

  nginx-uninstrumented:
    image: nginx:latest
    ports:
      - "8000:80"
    volumes:
      - ./slim-app/nginx-uninstrumented.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm-uninstrumented
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s

  nginx-otel:
    image: nginx:latest
    ports:
      - "8001:80"
    volumes:
      - ./slim-app/nginx-otel.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm-otel
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s

  nginx-alpha:
    image: nginx:latest
    ports:
      - "8002:80"
    volumes:
      - ./slim-app/nginx-alpha.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm-alpha
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s

  nginx-dev:
    image: nginx:latest
    ports:
      - "8003:80"
    volumes:
      - ./slim-app/nginx-dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm-dev
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s

  php-fpm-uninstrumented:
    build:
      context: slim-app
      dockerfile: Dockerfile-otel
    environment:
      - OTEL_SDK_DISABLED=true
    deploy:
      resources: *service-resource

  php-fpm-otel:
    build:
      context: slim-app
      dockerfile: Dockerfile-otel
    environment:
      - OTEL_PHP_AUTOLOAD_ENABLED=true
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT:-http://otel-collector:4318}
      - OTEL_SERVICE_NAME=apm-php-benchmark-php-fpm-otel
      - OTEL_TRACES_SAMPLER=always_on
      - OTEL_RESOURCE_ATTRIBUTES=sw.data.module=apm,sw.apm.version=0.0.0,sw.transaction=complex_trace  # hard-code transaction for all requests to match APM-instrumented apps
    deploy:
      resources: *service-resource

  php-fpm-alpha:
    build:
      context: slim-app
      dockerfile: Dockerfile-alpha
    environment:
      - OTEL_PHP_AUTOLOAD_ENABLED=true
      - OTEL_LOG_LEVEL=warning
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT:-http://otel-collector:4318}
      - OTEL_SERVICE_NAME=apm-php-benchmark-php-fpm-alpha
      - OTEL_TRACES_SAMPLER=solarwinds_http
      - SW_APM_COLLECTOR=${SW_APM_COLLECTOR:-collector}
      - SW_APM_SERVICE_KEY=${SW_APM_TOKEN:-token}:apm-php-benchmark-php-fpm-alpha
      - OTEL_PROPAGATORS=baggage,tracecontext,swotracestate,xtraceoptions
      - OTEL_EXPERIMENTAL_RESPONSE_PROPAGATORS=xtrace,xtraceoptionsresponse
    deploy:
      resources: *service-resource

  php-fpm-dev:
    build:
      context: slim-app
      dockerfile: Dockerfile-dev
    environment:
      - OTEL_PHP_AUTOLOAD_ENABLED=true
      - OTEL_LOG_LEVEL=warning
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT:-http://otel-collector:4318}
      - OTEL_SERVICE_NAME=apm-php-benchmark-php-fpm-dev
      - OTEL_TRACES_SAMPLER=solarwinds_http
      - SW_APM_COLLECTOR=${SW_APM_COLLECTOR:-collector}
      - SW_APM_SERVICE_KEY=${SW_APM_TOKEN:-token}:apm-php-benchmark-php-fpm-dev
      - OTEL_PROPAGATORS=baggage,tracecontext,swotracestate,xtraceoptions
      - OTEL_EXPERIMENTAL_RESPONSE_PROPAGATORS=xtrace,xtraceoptionsresponse
    deploy:
      resources: *service-resource

  apm-php-benchmark-locust:
    build:
      context: locust-app
      dockerfile: Dockerfile
    container_name: apm-php-benchmark-locust
    logging: *logging-resource
    environment:
      - API_TOKEN=${SW_APM_TOKEN:-token}
      - OTEL_COLLECTOR=${OTEL_EXPORTER_OTLP_ENDPOINT:-http://otel-collector:4318}
      - SERVICE_NAME=apm-php-benchmark-locust
    depends_on:
      nginx-uninstrumented:
        condition: service_healthy
      nginx-otel:
        condition: service_healthy
      nginx-alpha:
        condition: service_healthy
      nginx-dev:
        condition: service_healthy
    deploy:
      resources: *load-resource
    command: locust --headless -u 1 --host http://0.0.0.0:8000
