services:
  apm-setting-ticker:
    image: ghcr.io/jerrytfleung/apm-setting-ticker
    environment:
      - SW_APM_COLLECTOR=${SW_APM_COLLECTOR:-collector}
      - SW_APM_SERVICE_KEY=${SW_APM_TOKEN:-token}:apm-php-benchmark-php-fpm-alpha
      - HOSTNAME=php-fpm-alpha
    ports:
      - "8080:8080"
  otel-collector-locust:
    image: otel/opentelemetry-collector-contrib:latest
    user: "0"  # to access docker.sock
    environment:
      - API_TOKEN=${OTEL_TOKEN}
      - OTEL_COLLECTOR=${OTEL_COLLECTOR}
    command: [ "--config=/etc/otel-collector-config.yml" ]
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
      - /var/run/docker.sock:/var/run/docker.sock:ro

  otel-collector-otel:
    image: otel/opentelemetry-collector-contrib:latest
    user: "0"  # to access docker.sock
    environment:
      - API_TOKEN=${OTEL_TOKEN}
      - OTEL_COLLECTOR=${OTEL_COLLECTOR}
    command: [ "--config=/etc/otel-collector-config.yml" ]
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
      - /var/run/docker.sock:/var/run/docker.sock:ro

  otel-collector-alpha:
    image: otel/opentelemetry-collector-contrib:latest
    user: "0"  # to access docker.sock
    environment:
      - API_TOKEN=${OTEL_TOKEN}
      - OTEL_COLLECTOR=${OTEL_COLLECTOR}
    command: [ "--config=/etc/otel-collector-config.yml" ]
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
      - /var/run/docker.sock:/var/run/docker.sock:ro

  nginx-otel:
    image: nginx:latest
    ports:
      - "8002:80"
    volumes:
      - ./slim-app/nginx-otel.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm-otel
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s

  nginx-alpha:
    image: nginx:latest
    ports:
      - "8003:80"
    volumes:
      - ./slim-app/nginx-alpha.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm-alpha
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s

  php-fpm-otel:
    build:
      context: slim-app
      dockerfile: Dockerfile-otel
    environment:
      - OTEL_PHP_AUTOLOAD_ENABLED=true
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT:-http://otel-collector-otel:4318}
      - OTEL_SERVICE_NAME=apm-php-benchmark-php-fpm-otel
      - OTEL_TRACES_SAMPLER=always_on
      - OTEL_RESOURCE_ATTRIBUTES=sw.data.module=apm,sw.apm.version=0.0.0,sw.transaction=complex_trace  # hard-code transaction for all requests to match APM-instrumented apps

  php-fpm-alpha:
    build:
      context: slim-app
      dockerfile: Dockerfile-alpha
    hostname: php-fpm-alpha
    depends_on:
      - apm-setting-ticker
    environment:
      - OTEL_PHP_AUTOLOAD_ENABLED=true
      - OTEL_LOG_LEVEL=warning
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT:-http://otel-collector-alpha:4318}
      - OTEL_SERVICE_NAME=apm-php-benchmark-php-fpm-alpha
      - OTEL_TRACES_SAMPLER=solarwinds_http
      - SW_APM_COLLECTOR=apm-setting-ticker:8080
      - SW_APM_SERVICE_KEY=${SW_APM_TOKEN:-token}:apm-php-benchmark-php-fpm-alpha
      - OTEL_PROPAGATORS=baggage,tracecontext,swotracestate,xtraceoptions
      - OTEL_EXPERIMENTAL_RESPONSE_PROPAGATORS=xtrace,xtraceoptionsresponse

  apm-php-benchmark-locust:
    build:
      context: locust-app
      dockerfile: Dockerfile
    container_name: apm-php-benchmark-locust
    environment:
      - API_TOKEN=${SW_APM_TOKEN:-token}
      - OTEL_COLLECTOR=${OTEL_EXPORTER_OTLP_ENDPOINT:-http://otel-collector-locust:4318}
      - SERVICE_NAME=apm-php-benchmark-locust
    depends_on:
      nginx-otel:
        condition: service_healthy
      nginx-alpha:
        condition: service_healthy
    command: locust --headless -u 100 --spawn-rate 5 --host http://0.0.0.0:8000
